name: smartstock
version: '1.3'

services:
  postgres:
    image: postgres:latest
    container_name: smartstock_postgres
    environment:
      POSTGRES_DB: smartstock
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data: